<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-file fa-lg main-list-item-icon"></span>
    <a href="/files/sifa_RTVFX_Resume.pdf" noreferrer noopener nofollower>Résumé</a>
  </li>
  <hr></hr>
  <li class="main-list-item">
      <span class="fas fa-envelope fa-lg main-list-item-icon"></span>
      <a href="mailto:sifavfx@gmail.com" noreferrer noopener nofollower>Mail</a>
  </li>
  <hr></hr>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/sifavfx" noreferrer noopener nofollower>Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-artstation fa-lg main-list-item-icon"></span>
    <a href="https://sifa.artstation.com" noreferrer noopener nofollower>Artstation</a>
  </li>
  <li class="main-list-item">
        <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
        <a href="https://www.linkedin.com/in/sifa/" noreferrer noopener nofollower>LinkedIn</a>
  </li>

  <hr></hr>

  <li class="main-list-item">
    <span class="fas fa-pencil-ruler fa-lg main-list-item-icon"></span>
    <a href="/blog">Blog (WIP)</a>
  </li>

  <li class="main-list-item">
    <span class="fas fa-registered fa-lg main-list-item-icon"></span>
    <a href="https://realtimevfx.com/u/sifa/summary" noreferrer noopener nofollower>RealtimeVFX.com</a>
  </li> 
</ul>




