<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-file fa-lg main-list-item-icon"></span>
    <a href="/files/sifa_RTVFX_Resume.pdf">Résumé</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/sifavfx">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-artstation fa-lg main-list-item-icon"></span>
    <a href="https://sifa.artstation.com">Artstation</a>
  </li>
  <li class="main-list-item">
        <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
        <a href="https://www.linkedin.com/in/sifa/">LinkedIn</a>
  </li>
  <li class="main-list-item">
      <span class="fas fa-envelope fa-lg main-list-item-icon"></span>
      <a href="mailto:sifavfx@gmail.com">Mail</a>
  </li>

  <hr></hr>

  <li class="main-list-item">
    <span class="fas fa-pencil-ruler fa-lg main-list-item-icon"></span>
    <a href="/blog">Blog (WIP)</a>
  </li>

  <li class="main-list-item">
    <span class="fas fa-registered fa-lg main-list-item-icon"></span>
    <a href="https://realtimevfx.com/u/sifa/summary">RealtimeVFX.com</a>
  </li?  
</ul>


<h2>What I do</h2>
<p>Visual Effects for games, Technical Art, Shaders and Houdini.</p>

<h2>About me</h2>
<p>I am an Artist.</p>

<hr />
